body{
    background-color: #FAFAD2;
    font-family: cursive;
}
.signup-box{
    width: 350px;
    height: 620px;
    margin: auto;
    background-color: #809680;
    border-radius: 13px;
    height: 600px
}
h1{
    text-align: center;
    padding-top: 15px;
}
h3{
    text-align: center;

}
form{
    width: 280px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1px; 
    border-width: bold;
    font-family: 'Courier New', Courier, monospace;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid cadetblue;
    border-radius: 6px;
    outline:none;
    margin-top: -2px;

}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top:20px;
    border: none;
    background-color: rgb(150, 42, 10);
    color: #fafbfa;
    font-size: 18px;

}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align:center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
.para-2 a{
    color: crimson;
    margin: -5px 10px 0px 10px;
}

/* login page  */
.login-box{
    width: 306px;
    height: 271px;
    margin: auto;
    border-radius: 3px;
    background-color: #fafbfa;




}